h1 {
  text-align: center;
  padding-top: 25px;
}
body {
  background-image: url("https://nikoskyanimation.files.wordpress.com/2014/09/watersubtles.jpg");
}
p {
  padding: 10px;
  text-align: center;
}
 div {
   padding: 15px;
   text-align: center;
 }

@media (min-width: 1000px)
{
  .col-border
  {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    border: 1px solid black;
  }
}
